<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.nasa.pic">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:largeHeap="true"
        tools:replace="android:label">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".app.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".app.activities.SearchResultActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".app.activities.PhotoViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Transparent"/>
        <activity
            android:name=".app.activities.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".app.activities.FacebookShareHelperActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".app.activities.SplashActivity"
            android:configChanges="orientation|screenSize"

            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0bf5835ac1569fe382ff64839c0be3d3ed9396b9"/>

        <!-- Event handler for changing system packages, for external links -->
        <receiver
            android:name="com.chopping.application.InstalledAppReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".app.noactivities.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".app.noactivities.AppGuardService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <receiver android:name=".customtab.ActionBroadcastReceiver"/>

    </application>

</manifest>