<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nasa.pic"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".app.App"
        tools:replace="android:label"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity
            android:name=".app.activities.SplashActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0bf5835ac1569fe382ff64839c0be3d3ed9396b9" />
    </application>

</manifest>